/* 针对Webkit内核浏览器（Chrome、Safari）的滚动条样式设置 */
::-webkit-scrollbar {
    width: 0.1em; /* 设置滚动条宽度为0.1em */
    background-color: transparent; /* 设置滚动条背景颜色为透明 */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* 设置滚动条拖动块的颜色为透明 */
}

/* 针对其他浏览器的滚动条样式设置 */
/* 注意：部分浏览器可能不支持此属性 */
/* 你可以根据需要选择是否使用该部分样式设置 */
/* 或者根据具体浏览器兼容性情况进行判断和调整 */
body {
    scrollbar-width: thin; /* 设置滚动条宽度为thin */
    scrollbar-color: transparent transparent; /* 设置滚动条颜色为透明 */
    overflow: hidden;
}

/*设置消息提示框的位置*/
.el-message,
.el-popover.el-popper {
    z-index: 99999 !important;
}

.my .el-input__wrapper {
    border-radius: 999px !important;
    font-size: 16px;
    line-height: 120%;
    height: 40px;
}

.el-radio-button__inner {
    padding: 0 16px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 999px !important;
    color: #000;
}
